<h1>Создает таблицы из CSV файла в базе данных sqlite3</h1>

Параметры:

In [10]:
csv_file_path     = '../data/sales2018.csv'
csv_rows_count    = 85711
output_table_name = 'SALES_2018'

Код:

In [2]:
import pandas as pd
import sqlite3

In [11]:
dataset    = pd.read_csv(csv_file_path, nrows=csv_rows_count)

dataset

        DocNum   DocDate GoodCode BestBeforeDate  Period  Quantity
0      2298599  02.01.18    15745       24.01.18      21     224.0
1      2298599  02.01.18    15747       24.01.18      21     128.0
2      2298864  03.01.18     1316       19.01.18      22       4.0
3      2298864  03.01.18    25020       17.01.18      15       6.0
4      2298864  03.01.18     1176       07.02.18      36       8.0
...        ...       ...      ...            ...     ...       ...
85706  2359730  22.01.18     4615       20.02.18      39       6.0
85707  2359730  22.01.18     1187       05.02.18      14      16.0
85708  2359730  22.01.18     0199       13.02.18      25       6.0
85709  2359730  22.01.18     1835       06.02.18      15      24.0
85710  2359730  22.01.18    25020       05.02.18      15      24.0

[85711 rows x 6 columns]

In [12]:
connection = sqlite3.connect('../data/db.sqlite')
dataset.to_sql(output_table_name, connection)

In [13]:
sql_string = "SELECT GoodCode, BestBeforeDate, Quantity FROM sales_2018 WHERE DocDate = '02.01.18' ORDER BY GoodCode"
dataset = pd.read_sql(sql_string, connection)

dataset

  GoodCode BestBeforeDate  Quantity
0    15745       24.01.18     224.0
1    15747       24.01.18     128.0